@font-face {
    font-family: 'CountryGold';
    src: url('CountryGold.ttf') format('truetype');
}
body{
    background-color: rgb(242, 248, 194)!important;
}
.letra{
    font-family: 'CountryGold', sans-serif;
    color: rgb(242, 216, 173);
    border-color: rgb(151, 67, 8);
    text-shadow: 2px 2px 5px rgb(151, 67, 8);
}
.letra2{
    text-shadow: 2px 2px 5px rgb(151, 67, 8);
    color: rgb(242, 216, 173) !important;
}
.letra3{
    color: rgb(151, 67, 8) !important;
}
.btn-desc{
    background-color: rgb(242, 216, 173)!important;
    border: rgb(151, 67, 8) 2px solid !important;
    border-radius:  40% !important;
}
.btn{
    color:none;
    background-color:none;
    border:none;
    border-radius: none;
}
.img-modeo{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.mapa{
    margin: 60px auto;
    max-width: 650px;
    text-align: center;
   
}